<ng-container *ngIf="track$ | async as track">
  <div class="mdc-layout-grid">
    <div class="mdc-layout-grid__inner">
      <mat-card class="mdc-layout-grid__cell mdc-layout-grid__cell--span-8 about-card">
        <mat-card-title>{{ track.name }}</mat-card-title>
        <mat-card-subtitle class="mat-body-2">{{ track.artist }}</mat-card-subtitle>
      </mat-card>
      <mat-card class="mdc-layout-grid__cell mdc-layout-grid__cell--span-2-phone">
        <h4>Tone</h4>
        <h1 class="text-primary">{{ track.features.key | tone: track.features.mode }}</h1>
      </mat-card>
      <mat-card class="mdc-layout-grid__cell mdc-layout-grid__cell--span-2-phone">
        <h4>Tempo</h4>
        <h1 class="text-primary">{{ track.features.tempo | number: "1.0-0" }} BPM</h1>
      </mat-card>
      <div class="mdc-layout-grid__cell emotional-features">
        <mat-card class="emotional-features__card">
          <h4>Energy</h4>
          <h1>{{ track.features.energy | percent }}</h1>
        </mat-card>
        <mat-card class="emotional-features__card">
          <h4>Danceability</h4>
          <h1>{{ track.features.danceability | percent }}</h1>
        </mat-card>
        <mat-card class="emotional-features__card">
          <h4>Valence</h4>
          <h1>{{ track.features.valence | percent }}</h1>
        </mat-card>
      </div>
      <mat-card class="mdc-layout-grid__cell">
        <div class="feature-list">
          <div class="feature">
            <span class="feature__label mat-subheading-1">Energy</span>
            <mat-progress-bar
              class="feature__progress"
              mode="determinate"
              [value]="track.features.energy * 100"
            ></mat-progress-bar>
            <span class="feature__value mat-caption">
              {{ track.features.energy | percent: "1.2-2" }}
            </span>
          </div>
          <div class="feature">
            <span class="feature__label mat-subheading-1">Danceability</span>
            <mat-progress-bar
              class="feature__progress"
              mode="determinate"
              [value]="track.features.danceability * 100"
            ></mat-progress-bar>
            <span class="feature__value mat-caption">
              {{ track.features.danceability | percent: "1.2-2" }}
            </span>
          </div>
          <div class="feature">
            <span class="feature__label mat-subheading-1">Valence</span>
            <mat-progress-bar
              class="feature__progress"
              mode="determinate"
              [value]="track.features.valence * 100"
            ></mat-progress-bar>
            <span class="feature__value mat-caption">
              {{ track.features.valence | percent: "1.2-2" }}
            </span>
          </div>
        </div>

        <div class="feature-list">
          <div class="ambient-feature">
            <span class="ambient-feature__label mat-subheading-1">Acousticness</span>
            <span class="ambient-feature__value mat-caption">
              {{ track.features.acousticness | percent: "1.2-2" }}
            </span>
          </div>
          <div class="ambient-feature">
            <span class="ambient-feature__label mat-subheading-1">Instrumentalness</span>
            <span class="ambient-feature__value mat-caption">
              {{ track.features.instrumentalness | percent: "1.2-2" }}
            </span>
          </div>
          <div class="ambient-feature">
            <span class="ambient-feature__label mat-subheading-1">Liveness</span>
            <span class="ambient-feature__value mat-caption">
              {{ track.features.liveness | percent: "1.2-2" }}
            </span>
          </div>
          <div class="ambient-feature">
            <span class="ambient-feature__label mat-subheading-1">Speechiness</span>
            <span class="ambient-feature__value mat-caption">
              {{ track.features.speechiness | percent: "1.2-2" }}
            </span>
          </div>
        </div>
      </mat-card>
    </div>
  </div>
</ng-container>
