root = true

[*]
charset = utf-8
indent_style = space
indent_size = 4
max_line_length = 100
trim_trailing_whitespace = true
insert_final_newline = true

# Deeply nested data structures
[*.{html, xml, json, yml}]
indent_size = 2

# Use shorter line lengths for Markdown to make it easier to read while displaying preview
[*.md]
max_line_length = 80
trim_trailing_whitespace = false
