<section fxLayout="column" class="search-section">
  <mat-form-field appearance="outline" class="top-search-input">
    <mat-label>Search tracks</mat-label>
    <input matInput #input (keyup)="updateQuery(input.value)" (keyup.enter)="submitQuery(input.value)"
      placeholder="Title of a track or name of its artist" />
  </mat-form-field>
  <mat-progress-bar mode="indeterminate" [class.search-progress--hidden]="!state?.loading"></mat-progress-bar>
  <mat-action-list class="result-list">
    <mat-list-item *ngFor="let track of state?.results; last as last" (click)="select(track)">
      <img matListAvatar [src]="track.artwork_url" />
      <h3 matLine>{{ track.title }}</h3>
      <p matLine>{{ track.artist }}</p>
      <mat-divider [inset]="true" *ngIf="!last"></mat-divider>
    </mat-list-item>
  </mat-action-list>
</section>
