<ng-container *ngIf="state$ | async as state">
  <div class="mdc-layout-grid search-bar-grid">
    <div class="mdc-layout-grid__inner">
      <app-search-bar
        class="mdc-layout-grid__cell mdc-layout-grid__cell--span-12"
        [searchPending]="state.loading"
        (query)="submitQuery($event)"
      ></app-search-bar>
    </div>
  </div>
  <div class="mdc-layout-grid">
    <div class="mdc-layout-grid__inner">
      <mat-card
        *ngIf="state.results?.length > 0"
        class="mdc-layout-grid__cell mdc-layout-grid__cell--span-12 edge-to-edge"
      >
        <mat-action-list>
          <mat-list-item
            *ngFor="let track of state.results; last as last; trackBy: trackId"
            (click)="loadTrackDetail(track)"
          >
            <img matListAvatar [srcset]="track.artworks | imgset" sizes="40px" [alt]="track.album" />
            <h3 matLine>{{ track.title }}</h3>
            <p matLine>{{ track.artist }}</p>
            <mat-divider [inset]="true" *ngIf="!last"></mat-divider>
          </mat-list-item>
        </mat-action-list>
      </mat-card>
    </div>
  </div>
</ng-container>
