.playlist-detail {
  display: flex;
  flex-flow: row wrap;
  margin-top: 16px;

  > .playlist-detail__info {
    flex: 1 100%;
  }

  > .playlist-detail__tracks {
    flex: 1 0 auto;
  }

  > .playlist-detail__stats {
    flex: 3 0 auto;
  }
}

.playlist-detail__card {
  margin: 8px;
}

.chart-container {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: space-around;
}

.chart {
  flex: 0 auto;
  margin: 16px;

  &.chart--white-axis {
    fill: rgba($color: #ffffff, $alpha: 0.87);
  }
}
