.playlist-detail {
    display: flex;
    flex-flow: row wrap;
    margin-top: 16px;

    .playlist-detail__info {
        flex: 1 1 100%;
        margin: 8px;
    }

    .playlist-detail__tracks {
        flex: 0 2 auto;
        margin: 8px;
    }

    .playlist-detail__stats {
        flex: 0 1 auto;
        margin: 8px;
    }
}