<section class="playlist-detail" *ngIf="playlist$ | async as playlist">

  <mat-card class="playlist-detail__card playlist-detail__info">
    <mat-card-header>
      <mat-card-title>{{ playlist.name }}</mat-card-title>
      <mat-card-subtitle>{{ playlist.description }}</mat-card-subtitle>
    </mat-card-header>
    <a [href]="playlist.link" target="_blank" mat-flat-button color="primary">View on Spotify</a>
  </mat-card>

  <div class="playlist-detail__tracks">
    <mat-card class="playlist-detail__card">
      <mat-card-title>{{ playlist.tracks.length }} Tracks</mat-card-title>
      <mat-card-content>
        <mat-list>
          <mat-list-item *ngFor="let track of playlist.tracks; last as last; trackBy: trackByTrackId">
            <img mat-list-avatar [src]="track.artworkUrl" alt="Playlist artwork" />
            <h3 mat-line>{{ track.name }}</h3>
            <p mat-line>{{ track.artist }}</p>
            <mat-divider *ngIf="!last"></mat-divider>
          </mat-list-item>
        </mat-list>
      </mat-card-content>
    </mat-card>
  </div>

  <div class=" playlist-detail__stats">
    <mat-card class="playlist-detail__card">
      <mat-card-title>Tone</mat-card-title>

      <div class="card-charts">
          <div id="pitch-chart" class="chart chart--white-axis">
            <ngx-charts-bar-vertical
              [results]="pitchChartData$ | async"
              [xAxis]="true"
              [showXAxisLabel]="true"
              xAxisLabel="Key"
              [rotateXAxisTicks]="false"
              [tooltipDisabled]="true"
              scheme="ocean">
            </ngx-charts-bar-vertical>
          </div>

        <div id="mode-pie" class="chart">
          <ngx-charts-pie-chart
            [results]="modePieData$ | async"
            [doughnut]="true"
            [legend]="true"
            legendTitle="Modality"
            legendPosition="below"
            scheme="ocean">
          </ngx-charts-pie-chart>
        </div>
      </div>
    </mat-card>

    <mat-card class="playlist-detail__card">
      <mat-card-title>Rhythm</mat-card-title>

      <div class="card-charts">
        <div class="chart chart--white-axis">
          <ngx-charts-bar-vertical
            [results]="tempoChartData$ | async"
            [xAxis]="true"
            [showXAxisLabel]="true"
            xAxisLabel="Tempo (BPM)"
            scheme="ocean">
          </ngx-charts-bar-vertical>
        </div>
      </div>
    </mat-card>

    <mat-card class="playlist-detail__card">
      <mat-card-title>Emotion</mat-card-title>

      <div class="card-charts">
        <div class="chart chart--white-axis">
          <ngx-charts-bar-vertical
            [results]="energyChartData$ | async"
            [xAxis]="true"
            [showXAxisLabel]="true"
            xAxisLabel="Energy"
            scheme="ocean">
          </ngx-charts-bar-vertical>
        </div>

        <div class="chart chart--white-axis">
          <ngx-charts-bar-vertical
            [results]="danceabilityChartData$ | async"
            [xAxis]="true"
            [showXAxisLabel]="true"
            xAxisLabel="Danceability"
            scheme="ocean">
          </ngx-charts-bar-vertical>
        </div>

        <div class="chart chart--white-axis">
          <ngx-charts-bar-vertical
            [results]="valenceChartData$ | async"
            [xAxis]="true"
            [showXAxisLabel]="true"
            xAxisLabel="Valence"
            scheme="ocean">
          </ngx-charts-bar-vertical>
        </div>
      </div>
    </mat-card>

    <mat-card class="playlist-detail__card">
      <mat-card-title>Atmosphere</mat-card-title>

      <div class="card-charts">
        <div class="chart chart--white-axis">
          <ngx-charts-bar-vertical
            [results]="acousticnessChartData$ | async"
            [xAxis]="true"
            [showXAxisLabel]="true"
            xAxisLabel="Acousticness"
            scheme="ocean">
          </ngx-charts-bar-vertical>
        </div>

        <div class="chart chart--white-axis">
          <ngx-charts-bar-vertical
            [results]="livenessChartData$ | async"
            [xAxis]="true"
            [showXAxisLabel]="true"
            xAxisLabel="Liveness"
            scheme="ocean">
          </ngx-charts-bar-vertical>
        </div>

        <div class="chart chart--white-axis">
          <ngx-charts-bar-vertical
            [results]="instrumentalnessChartData$ | async"
            [xAxis]="true"
            [showXAxisLabel]="true"
            xAxisLabel="Instrumentalness"
            scheme="ocean">
          </ngx-charts-bar-vertical>
        </div>

        <div class="chart chart--white-axis">
          <ngx-charts-bar-vertical
            [results]="speechinessChartData$ | async"
            [xAxis]="true"
            [showXAxisLabel]="true"
            xAxisLabel="Speechiness"
            scheme="ocean">
          </ngx-charts-bar-vertical>
        </div>
      </div>
    </mat-card>
  </div>

</section>
