// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@import "~@angular/material/theming";
@import "app/track-analysis/odeon-cartridge/odeon-cartridge.theme.scss";
// Plus imports for other components in your app.

// Define a custom typography config.
// This is to override the font-family as well as the headlines and body levels.
// This currently uses all defaults.
$odeon-typo-config: mat-typography-config();
@include odeon-cartridge-typography($odeon-typo-config);

// Include the common styles for Angular Material, optionally specifying the typography config.
// Be sure that you only ever include this mixin once!
@include mat-core($odeon-typo-config);

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$odeon-web-primary: mat-palette($mat-deep-purple);
$odeon-web-accent: mat-palette($mat-amber, A400, A200, A700);

// Create the theme object (a Sass map containing all of the palettes).
$odeon-web-theme: mat-light-theme((
  color: (
    primary: $odeon-web-primary,
    accent: $odeon-web-accent,
    warn: mat-palette($mat-red)
  )
));
$odeon-dark-theme: mat-dark-theme((
  color: (
    primary: mat-palette($mat-deep-purple, 300, 100, 500),
    accent: $odeon-web-accent,
    warn: mat-palette($mat-red)
  )
));
// Include theme styles for core and each component used in your app.
@include angular-material-theme($odeon-web-theme);
@include odeon-cartridge-theme($odeon-web-theme);

/**
 * Alternate dark theme.
 * Any component inside of an element with this class is dark-themed.
 */
.dark-theme-overlay {
  @include angular-material-color($odeon-dark-theme);
  @include odeon-cartridge-theme($odeon-dark-theme);
}
